---
import { getFootnotes, getFootnoteOrder } from "@/lib/footnote-store";

const $footnotes = getFootnotes();
const $footnoteOrder = getFootnoteOrder();

const sortedFootnotes = Object.entries($footnotes).sort(
  ([tagA], [tagB]) => $footnoteOrder[tagA] - $footnoteOrder[tagB]
);
---

{
  sortedFootnotes.length > 0 && (
    <section id="footnotes">
      <hr />
      <ol>
        {sortedFootnotes.map(([tag, footnote]) => (
          <li id={`footnote-${$footnoteOrder[tag]}`}>
            <p>
              {footnote.content}
              <a
                href={`#footnote-ref-${$footnoteOrder[tag]}`}
                title="Back to reference"
              >
                &#8617;
              </a>
            </p>
          </li>
        ))}
      </ol>
    </section>
  )
}
